@use "global" as *;
.sub-message {
  padding-top: rem(54);
  @include mq("md") {
    padding-top: rem(136);
  }
}

.sub-message__inner {
  padding-left: rem(33);
  overflow: hidden;
  @include mq("md") {
    padding-left: rem(180);
  }
}

.sub-message__head {
  font-size: rem(30);
  font-family: $montserrat;
  font-weight: $semibold;
  color: $orange;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include mq("md") {
    font-size: rem(45);
    line-height: 1;
  }
}

.sub-message__reception {
  margin-left: calc(100% - 100vw);
  display: flex;
  width: 734px;
  margin-top: rem(50);
  @include mq("md") {
    width: 1526px;
    height: 104px;
    margin-top: rem(83);
  }
}

.sub-message__reception img {
  width: rem(734);
  height: rem(50);
  @include mq("md") {
    aspect-ratio: 1526 / 104;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.sub-message__reception img:first-child {
  animation: loop 30s -15s linear infinite;
  padding-left: rem(25);
  padding-right: rem(25);
}

.sub-message__reception img:not(:first-child) {
  animation: loop2 30s linear infinite;
  padding-left: rem(25);
  padding-right: rem(25);
}

.sub-message__companies {
  margin-top: rem(40);
  @include mq("md") {
    max-width: rem(1440);
    padding-left: rem(180);
    margin: rem(78) auto 0;
  }
}

.sub-message__company:nth-child(2){
  margin-top: rem(123);
  @include mq("md") {
    margin-top: rem(293);
  }
}

.sub-message__company:last-child {
  margin-top: rem(99);
  @include mq("md") {
    margin-top: rem(294);
  }
}
