@use "global" as *;
.sub-message {
  padding-top: rem(60);
}

.sub-message__inner {
  padding-left: rem(30);
  overflow: hidden;
}

.sub-message__head {
  font-size: rem(30);
  font-weight: $semibold;
  color: $orange;
  text-transform: uppercase;
}

.sub-message__reception {
  margin-left: calc(100% - 100vw);
  display: flex;
  width: 734px;
  margin-top: rem(60);
}

.sub-message__reception img {
  width: rem(734);
  height: rem(50);
}

.sub-message__reception img:first-child {
  animation: loop 30s -15s linear infinite;
  padding-left: rem(25);
  padding-right: rem(25);
}

.sub-message__reception img:not(:first-child) {
  animation: loop2 30s linear infinite;
  padding-left: rem(25);
  padding-right: rem(25);
}

.sub-message__companies {
  margin-top: rem(40);
}

.sub-message__company + .sub-message__company {
  margin-top: rem(100);
}
