@use "global" as *;

.co-creation {

    background-image: url(../img/top/sp_bg_top_co_creation.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(27) rem(30);
    margin-top: 350px;
    position: relative;
    z-index: 3;
    @include mq(md) {
        background-image: url(../img/top/bg_top_co_creation.jpg);
        padding: rem(110) rem(180);
        margin-top: 0;
    }
}

.co-creation__inner {
}

.co-creation__contents {
    max-width: rem(1080);
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: rem(50) rem(40);
    @include mq(lg) {
        padding: rem(117) 12.5vw;
    }
}

.co-creation__ttl {
    max-width: rem(190);
    width: 100%;
    margin-bottom: rem(24);
    @include mq(lg) {
        max-width: rem(352);
        margin-bottom: rem(28);
    }
}

.co-creation__text {
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.1em;
    line-height: 2;
    margin-bottom: rem(30);
    @include mq(lg) {
        font-size: rem(16);
        margin-bottom: rem(44);
        letter-spacing: 0.35em;
    }
}

.co-creation__statement-ttl {
    font-family: $montserrat;
    font-size: 12px;
    font-weight: $semibold;
    letter-spacing: 0.24em;
    line-height: 1.16;
    text-transform: uppercase;
    margin-bottom: rem(20);
    @include mq(lg) {
        font-size: rem(20);
        margin-bottom: rem(11);
        line-height: 2.1875;
    }
}

.co-creation__statement-text {
    font-size: 13px;
    font-weight: $bold;
    letter-spacing: 0.08em;
    line-height: 2;
    @include mq(lg) {
        font-size: rem(16);
        font-weight: $semibold;
        line-height: 2.5;
        letter-spacing: 0.01em;
    }
}

.co-creation__vertical-text {
    display: none;
    @include mq(md) {
        display: block;
        position: absolute;
        top: 30%;
        right: 3%;
        transform: translate(-50%);
        font-family: $montserrat;
        font-size: rem(30);
        text-transform: uppercase;
        color: $white;
        writing-mode: vertical-rl;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
