@use "global"as *;

.footer {
    position: relative;

}

.footer__inner {
    padding-left: rem(28);
    padding-right: $padding-sp;
    @include mq('md') {
       padding-left: rem(182); 
    }
}

.footer__contents {
    padding-top: rem(150);
    margin-bottom: rem(53);
    @include mq('md') {
       display: flex; 
       margin-bottom: rem(66);
    }
}

.footer__logo {
    width: 47%;
    margin-bottom: rem(54);
    @include mq('lg') {
        margin: 0;
        margin-right: rem(118);
        width: rem(210);
    }
}

.footer__logo img {

}

.footer__lists {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    @include mq('lg') {
       display: flex; 
       align-items: center;
    }
}

.footer__list {
    @include mq('lg') {
        margin-right: rem(40);
    }
}

.footer__list + .footer__list {
    margin-top: rem(24);
    @include mq('lg') {
       margin-top: 0; 
       margin-right: rem(40);
    }
}

.footer__list a {
    display: inline-block;

}

/*======================================
コピーライト                                        
======================================*/
.footer__copyright {
    text-align: left; 
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.09em;

    @include mq('md') {
       margin-bottom: rem(140);
    }
}

/*======================================
トップへ戻る                                        
======================================*/
.footer__page-top {
    text-transform: uppercase;
    writing-mode: vertical-rl;
    font-size: 10px;
    position: fixed;
    right: rem(27);
    bottom: 23%;
    z-index: 2;
    font-family: $montserrat;
    @include mq('md') {
        right: rem(49);
       bottom: 13%; 
       font-size: 13px;
    }
}

.footer__page-top span {
    display: inline-block;
    height: rem(73);
    width: rem(1);
    background-color: #000;
    margin-bottom: rem(10);
    @include mq('md') {
       height: rem(47); 
    }
}

.footer__page-top a {

}