@use "global" as *;

.inquiry {
    background-image: url(../img/top/sp_bg_top_inquiry.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include mq("md") {
        background-image: url(../img/top/bg_top_inquiry.png);
    }
}

.inquiry::before {
    position: absolute;
    content: "";
    background-color: $white;
    width: 100%;
    top: 52%;
    height: rem(1);

    @include mq("md") {
        width: rem(1);
        height: 100%;
        left: 50%;
        top: 0;
    }
}

.inquiry__inner {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    padding-top: rem(70);
    padding-bottom: rem(86);
    @include mq("md") {
        padding-left: 0;
        padding-right: 0;
        padding-top: 7.75rem;
        padding-bottom: 10.25rem;
        max-width: rem(1344);
        width: 100%;
    }
    @include mq("xl") {
        margin-inline: auto;
    }
}

.inquiry__contents {
    width: 83%;
    margin: 0 auto;
    margin-bottom: rem(40);
    @include mq("md") {
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: rem(240);
    }
}

.inquiry__contents::before {
}

.inquiry__wrapper-left {
    margin-bottom: rem(228);
    @include mq("md") {
        margin-bottom: 0;
        margin-right: rem(10);
        width: 32%;
    }
    @include mq("xl") {
        width: 31%;
    }
}

.inquiry__wrapper-left::after {
}

.inquiry__wrapper-right {
    @include mq("md") {
        width: 21%;
    }
    @include mq("xl") {
        width: 31%;
    }
}

.inquiry__ttl {
    font-size: 20px;
    margin-bottom: rem(16);
    @include mq("md") {
        font-size: rem(28);
        margin-bottom: rem(22);
    }
}

.inquiry__text {
    font-size: 12px;
    margin-bottom: rem(56);
    line-height: 2;
    @include mq("md") {
        font-size: rem(16);
        margin-bottom: rem(26);
    }
}

.inquiry__wrapper-right > .inquiry__text {
    margin-bottom: rem(28);
    @include mq("md") {
        margin-bottom: rem(56);
    }
}

.inquiry__button-area {
    position: relative;
}

.inquiry__button-text {
    padding-top: 20%;
    padding-left: 126%;
    font-size: 16px;
    font-weight: $bold;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    @include mq("md") {
        padding-left: 136%;
    }
}
