@use 'global' as *;

.layout-vision {
    // あとでけす
    margin-top: 2575px;
    margin-bottom: rem(100);

    @include mq('md') {
        // あとでけす
       margin-top: 3398px; 
       margin-bottom: rem(300);
    }
}

