@use "global" as *;

.mv {
    width: 100%;
    position: relative;
    z-index: -1;
}

.mv__inner {
    position: relative;
    padding-bottom: rem(120);
    @include mq(md) {
        padding-bottom: 0px;
    }
}

.mv__message-overlay {
    @include mq(md) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        height: rem(914);
    }
}

.mv__overlay {
    display: none;
    @include mq(md) {
        display: block;
        height: inherit;
    }
}

.mv__overlay img {
    height: inherit;
}

.mv__message-wrap {
    max-width: rem(315);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(30);
    @include mq(md) {
        max-width: rem(480);
        position: absolute;
        top: 12%;
        left: 12%;
        z-index: 100;
    }
}

.mv__message {
    font-size: 20px;
    font-weight: $bold;
    line-height: 1.7;
    letter-spacing: 0.2em;
    text-shadow: 0px 0px 15px #ffffff;
    margin-bottom: rem(14);
    @include mq(md) {
        font-size: rem(38);
        line-height: 1.684;
        margin-bottom: rem(20);
    }
}

.mv__message-text {
    font-size: 12px;
    line-height: 2;
    font-weight: $regular;
    letter-spacing: 0.2em;
    text-shadow: 0px 0px 15px #ffffff;
    @include mq(md) {
        font-size: rem(16);
        letter-spacing: 0.35em;
    }
}

.mv__image {
}

.mv__image img {
}
