@use 'global' as *;

.news {
    // あとで
    background-color: lightblue;
}

.news__inner {
    padding-left: $padding-sp + 10px;
    padding-right: $padding-sp;
}

.news__contents {
    margin-bottom: rem(40);
    @include mq('lg') {
       max-width: rem(1080);
       width: 100%;
       margin-inline: auto;
       margin-bottom: rem(130);
    }
}

.news__ttl {
    color: $blue;
    text-transform: uppercase;
    text-align: center;
    font-size: rem(26);
    letter-spacing: 0.11em;
    
    @include mq('md') {
        font-size: rem(45);
        margin-bottom: rem(74);  
    }
}

.news__item {
    border-bottom: 1px solid #ededed;
    position: relative; 
    margin-top: rem(20);
    padding-bottom: rem(20);  

    @include mq('lg') {
       display: flex; 
    }
}


.news__item + .news__item {

}

.news__item:last-child {

}

.news__date {
    font-size: 14px;
    margin-bottom: rem(10);
    display: inline-block;

    @include mq('lg') {
        margin-right: rem(30);
        font-size: rem(14);
    }
}

.news__wrapper {
    width: 100%;
    @include mq('lg') {
       display: flex; 
    }
}

.news__index {  
    font-weight: $bold;
    display: inline-block;
    width: 94%;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.01em;

    @include mq('md') {
       width: 70%; 
    }

    @include mq('lg') {
       width: 80%;
        font-size: rem(14);
    }
}

.news__button-jump {

}

.news__button-area {
    display: flex;
    justify-content: center;
}

