@use "global" as *;

.scrolldown {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 13%;
    bottom: 0%;
    height: 64px;
    z-index: 100;
    @include mq(md) {
        left: 8%;
        bottom: 10%;
        height: rem(94);
    }
}

/*Scrollテキストの描写*/
.scrolldown span {
    /*描画位置*/
    position: absolute;
    font-family: $montserrat;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
    left: rem(36);
    bottom: 75%;
    text-transform: uppercase;
    @include mq(md) {
        left: rem(20);
        bottom: 11%;
        /*縦書き設定*/
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
}

/* 線の描写 */
.scrolldown span::before {
    content: "";
    /*描画位置*/
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: rem(-36);
    border-radius: 50%;
    background: $black;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
    animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
    @include mq(md) {
        left: rem(-5);
        /*丸の形状*/
        width: rem(10);
        height: rem(10);
    }
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: rem(8);
    }
    100% {
        bottom: rem(-4);
    }
}
@include mq(md) {
    @keyframes circlemove {
        0% {
            bottom: rem(80);
        }
        100% {
            bottom: rem(-5);
        }
    }
}

/* 円の描写 */
.scrolldown:before {
    content: "";
    position: absolute;
    top: -18%;
    left: rem(-17);
    width: rem(44);
    height: rem(44);
    /*マウスの形状*/
    border-radius: 50px;
    border: 1px solid $black;
    @include mq(md) {
        /*描画位置*/
        width: rem(50);
        height: rem(50);
        top: rem(-20);
        left: rem(-22);
    }
}

/* 線の描写 */
.scrolldown:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 1px;
    height: 53px;
    background: $black;
    @include mq(md) {
        left: -2px;
        height: rem(94);
    }
}
