@use "global" as *;
.swiper__content {
}

.swiper {
    height: rem(375);
    @include mq(md) {
        height: rem(914);
    }
}

.swiper-wrapper {
    height: inherit;
}

.swiper-slide {
    width: 100%;
}

.swiper-slide img {
    display: block;
    position: relative;
    object-fit: cover;
    object-position: center;
    height: inherit;
}
