@use 'global' as *;

.vision {
    position: relative;

}

.vision__inner {

}

.vision__contents {
    background-color: $white;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: rem(32) rem(40);
    top: 41%;
    width: 92%;
    height: 47%;
    // あとでけす
    background-color: pink;
    @include mq('sm') {
        aspect-ratio: 345/ 300;
       width: 57%; 
       height: 61%; 
    }
    @include mq('md') {
        padding: rem(112);
        top: 28%;
    }
}

.vision__ttl {
    text-transform: uppercase;
    text-align: left;
    font-size: rem(26);
    color: $blue;
    margin-bottom: rem(12);
    font-family: $montserrat;
    @include mq('md') {
        margin-bottom: rem(24);
        font-size: rem(48);
    }

}

.vision__text {
    font-weight: $bold;
    margin-bottom: rem(30);
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0.05em;
    @include mq('md') {
        font-size: rem(16);
        line-height: 2.4;
        margin-bottom: rem(42);
    }
}

.vision__button-area {
    @include mq('md') {
       margin-left: rem(6); 
    }
}

.vision__button-top {
}

.vision__bg-white {
    background-image :url(../img/top/sp_bg_top_vision_img.jpg);
    background-position :center;
    background-size :cover;
    background-repeat :no-repeat;
    width: 100%;
    height: rem(641);
    @include mq('md') {
        width :73%;
        height: rem(894);
        margin-left: auto;
        background-image :url(../img/top/bg_top_vision_img.jpg);
    }
}

.vision__bg-blue {
    background-image :url(../img/top/sp_bg_top_vision_hand.jpg);
    background-position :center;
    background-size :cover;
    background-repeat :no-repeat;
    position: absolute;
    left: 0;
    top: 12%;
    width: 92%;
    height: rem(224);
    @include mq('sm') {
        width: 66%;
        aspect-ratio: 345/ 221;
    }
    @include mq('md') {
        width: 57%;
        height: rem(510);
        top: 11%;
        background-image :url(../img/top/bg_top_vision_hand.jpg);

    }
}

.vision__2035 {
    position: relative;
    z-index: 1;
    color: $white;
    font-size: rem(46);
    left: 8%;
    top: 12%;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0;
    @include mq('md') {
       font-size: rem(106); 
    }
}